@media (max-width: 576px) {
  #main section .container {
    width: 90% !important;
  }
}

.navbar {
  background: #3b3b3b;
}

.about {
  background: #f1f1f1;
  border-radius: 13px;
}

.h1-style {
  position: relative;
  font-weight: bold;
  z-index: 2;
}
.h1-style::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 36.5%;
  width: 27%;
  height: 50%;
  z-index: -1;
  background: #ffe76e;
}
@media (max-width: 576px) {
  .h1-style::before {
    width: 40%;
    left: 30%;
  }
}

.tech {
  background: #ffe76e;
}

.bi-vector-pen,
.bi-laptop,
.bi-code-slash {
  font-size: 7rem !important;
}

.bi-vector-pen + h2,
.bi-laptop + h2,
.bi-code-slash + h2 {
  color: #9b7334;
  font-weight: bold;
}

@media (max-width: 576px) {
  .ability-text {
    width: 80% !important;
  }
}

@media (max-width: 576px) {
  .portfolio-text {
    width: 100% !important;
  }
}

.subtitle-line {
  position: relative;
}
.subtitle-line::before {
  content: "";
  position: absolute;
  bottom: 50%;
  left: 0;
  width: 40%;
  height: 1px;
  background: #3b3b3b;
}
@media (max-width: 576px) {
  .subtitle-line::before {
    width: 30%;
  }
}
.subtitle-line::after {
  content: "";
  position: absolute;
  bottom: 50%;
  right: 0;
  width: 40%;
  height: 1px;
  background: #3b3b3b;
}
@media (max-width: 576px) {
  .subtitle-line::after {
    width: 30%;
  }
}

.tag {
  display: inline-block;
  background: #dfdfdf;
  border-radius: 14px;
  padding: 3px 10px;
}

.work {
  height: 250px;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
}
.work img {
  height: 100%;
}

.item {
  position: relative;
}
.item .img-text {
  position: absolute;
  bottom: 20px;
  left: 50px;
  color: #eee;
  z-index: 2;
  font-weight: bold;
  -webkit-filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.473));
          filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.473));
}

.subtitle-line + h4 {
  color: #9b7334;
}

.card-body {
  color: black;
}
.card-body h4 {
  font-weight: bold;
  color: #9b7334;
}

.card-text h5 {
  font-weight: bold;
  color: #9b7334;
}